{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["> 5%", "last 2 versions"]
      }
    }],
    "stage-3",
    "stage-2"
  ],
  "plugins": [
    "babel-plugin-transform-es2015-modules-commonjs",
  ]
}
