.table-hover, .nav, .pagination, .carousel, .panel-title a, [ng-click] { cursor: pointer; }

.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 0.4s linear; /* Safari/Chrome */
  animation: enter_sequence 0.4s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

.reveal-animation.ng-leave {
  -webkit-animation: leave_sequence 0.2s linear; /* Safari/Chrome */
  animation: leave_sequence 0.2s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes leave_sequence {
  from { opacity:1; }
  to { opacity:0; }
}
@keyframes leave_sequence {
  from { opacity:1; }
  to { opacity:0; }
}

.spin{
     -webkit-transform-origin: 50% 50%;
     transform-origin: 50% 50%;
     -webkit-animation: spin 1s infinite linear;
     -moz-animation: spin 1s infinite linear;
     -o-animation: spin 1s infinite linear;
     animation: spin 1s infinite linear;
}
@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}
