<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
      <input class="form-control" type="text" placeholder="Filter" ng-model="query">
    </div>

    <table class="table table-striped">
      <tbody>
        <tr ng-repeat="fact in $ctrl.factPaths | filter: query" ng-click="$ctrl.toggleChart(fact)" >
          <td><span class="glyphicon glyphicon-stats" aria-hidden="true" ng-if="$ctrl.chartActive(fact)"></span</td>
          <td>
            <span ng-repeat="factCompontent in fact track by $index">{{factCompontent}}<span class="text-muted" ng-if="!$last"> / </span></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default" ng-repeat="chart in $ctrl.chartList()">
      <div class="panel-heading">
        <button type="button" class="close" ng-click="$ctrl.deleteChart(chart)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="panel-title">{{chart}}</h3>
      </div>
      <div class="panel-body">
        <div google-chart chart="$ctrl.charts[chart]" on-select="$ctrl.chartSelect(chart, selectedItem)"></div>
      </div>
    </div>
  </div>
</div>
