<div class="alert alert-warning" role="alert" ng-if="nodeList.nodes.length === 0">
  No nodes found
</div>

<table class="table table-striped table-hover" ng-if="nodeList.nodes.length > 0" id="node-list">
  <thead><tr>
    <th><span class="label label-default"><ng-pluralize count="numItems" when="{'one': '1 node found', 'other': '{} nodes found'}"></ng-pluralize></span></th>
    <th>Last run</th>
    <th style="text-align:center">Successes</th>
    <th style="text-align:center">Noops</th>
    <th style="text-align:center">Skips</th>
    <th style="text-align:center">Failures</th>
    <th></th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="node in nodeList.nodes">
      <td ng-click="nodeList.selectNode(node)">{{node.certname}}</td>
      <td title="{{node['catalog-timestamp']}}">
        <span class="glyphicon glyphicon-warning-sign text-warning" ng-if="nodeList.nodeUnresponsive(node)"></span>
        <span am-time-ago="node.report_timestamp"></span>
      </td>
      <td class="text-center">{{node.metrics.events.success || ""}}</td>
      <td class="text-center">{{node.metrics.events.noop || ""}}</td>
      <td class="text-center">{{node.metrics.events.skip || ""}}</td>
      <td class="text-center">{{node.metrics.events.failure || ""}}</td>
      <td class="text-right" ng-click="nodeList.showEvents(node.certname)">
        <span class="glyphicon" ng-class="nodeList.nodeStatus(node)"></span>
      </td>
    </tr>
  </tbody>
</table>

<pagination ng-if="numItems > 50" ng-change="changePage(page)" ng-model="page" num-pages="numPages" items-per-page="50"  boundary-links="numItems > 250" max-size="5" total-items="numItems" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
