<div class="alert alert-warning" role="alert" ng-if="nodeList.nodes.length === 0">
  No nodes found
</div>

<div class="row">
  <div class="col-md-8">
    <table class="table table-striped table-hover" ng-if="nodeList.nodes.length > 0">
      <thead><tr>
        <th><span class="label label-default"><ng-pluralize count="numItems" when="{'one': '1 node found', 'other': '{} nodes found'}"></ng-pluralize></span></th>
        <th>Last run</th>
        <th style="text-align:center">Successes</th>
        <th style="text-align:center">Noops</th>
        <th style="text-align:center">Skips</th>
        <th style="text-align:center">Failures</th>
        <th></th>
      </tr></thead>
      <tbody>
        <tr ng-repeat="node in nodeList.nodes">
          <td ng-click="nodeList.selectNode(node)">{{node.certname}}</td>
          <td title="{{node['catalog-timestamp']}}">
            <span class="glyphicon glyphicon-warning-sign text-warning" ng-if="nodeList.nodeUnresponsive(node)"></span>
            <span am-time-ago="node['report-timestamp']"></span>
          </td>
          <td class="text-center">{{node.events.successes || ""}}</td>
          <td class="text-center">{{node.events.noops || ""}}</td>
          <td class="text-center">{{node.events.skips || ""}}</td>
          <td class="text-center">{{node.events.failures || ""}}</td>
          <td class="text-right" ng-click="nodeList.showEvents(node.certname)">
            <span class="glyphicon" ng-class="nodeList.nodeStatus(node)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4" ng-if="nodeList.selectedNode">
    <h4>{{nodeList.selectedNode.certname}}</h4>
    <table class="table table-striped" ng-if="nodeList.selectedNode.facts">
      <thead><tr>
        <th>Fact</th>
        <th>Value</th>
      </tr></thead>
      <tbody>
        <tr ng-repeat="fact in nodeList.importantFacts(nodeList.selectedNode)">
          <td><span ng-repeat="factCompontent in fact.path">{{factCompontent}}<span class="text-muted" ng-if="!$last"> / </span></span></td>
          <td>{{fact.value}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-default" ng-class="nodeList.selectedNode.showAllFacts ? 'active' : ''" ng-click="nodeList.selectedNode.showAllFacts = !nodeList.selectedNode.showAllFacts">Show all</button>
    <table class="ui table segment" ng-if="nodeList.selectedNode.facts && nodeList.selectedNode.showAllFacts">
      <thead><tr>
        <th>Fact</th>
        <th>Value</th>
      </tr></thead>
      <tbody>
        <tr ng-repeat="fact in nodeList.selectedNode.facts">
          <td><span ng-repeat="factCompontent in fact.path">{{factCompontent}}<span class="text-muted" ng-if="!$last"> / </span></span></td>
          <td>{{fact.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<pagination ng-if="numItems > 50" ng-change="changePage(page)" ng-model="page" num-pages="numPages" items-per-page="50"  boundary-links="numItems > 250" max-size="5" total-items="numItems" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
