<div class="ui pagination menu" ng-if="pagination.numPages > 1">
  <a class="icon item" ng-if="pagination.page>1" ng-click="pagination.prevPage()">
    <i class="left arrow icon"></i>
  </a>
  <a ng-repeat="i in pagination.pageList() track by $index" ng-class="i === '...' ? 'disabled item' : (pagination.page === i ? 'active item' : 'item')" ng-click="pagination.setPage(i)">
    {{i}}
  </a>
  <a class="icon item" ng-if="pagination.page<pagination.numPages" ng-click="pagination.nextPage()">
    <i class="right arrow icon"></i>
  </a>
</div>
