<tabset>
  <tab heading="Latest report" active="events.mode.latest" select="events.setMode('latest')"></tab>
  <tab heading="Date range" active="events.mode.daterange" select="events.setMode('daterange')">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="date-from">Date from:</label>
          <div class="input-group">
            <input datepicker-popup type="text" id="date-from" class="form-control" ng-model="dateFrom" ng-change="events.setFilters()" is-open="dateFromOpen" close-text="Close">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-disabled="latestReport" ng-click="events.toggleDatePicker($event,'dateFromOpen')"><span class="glyphicon glyphicon-calendar"></span></button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="date-to">Date to:</label>
          <div class="input-group">
            <input datepicker-popup type="text" id="date-to" class="form-control" ng-model="dateTo" ng-change="events.setFilters()" is-open="dateToOpen" close-text="Close">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-disabled="latestReport" ng-click="events.toggleDatePicker($event,'dateToOpen')"><span class="glyphicon glyphicon-calendar"></span></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Single report" active="events.mode.report" select="events.setMode('report')">
    <div class="form-group">
      <label for="report-hash">Report hash</label>
      <input type="text" class="form-control" id="report-hash" ng-model="reportHash" placeholder="Report hash">
    </div>
  </tab>
</tabset>

<div class="row" style="margin-top: 10px">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Containing class</h3>
      </div>
      <div class="panel-body">
        <div google-chart chart="containingChart" on-select="events.onChartSelect('containing_class', containingChart.data, selectedItem)" on-ready="events.setChartSelection('containing_class', containingChart.data, chartWrapper)"></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Resource type</h3>
      </div>
      <div class="panel-body">
        <div google-chart chart="resourceChart" on-select="events.onChartSelect('resource_type', resourceChart.data, selectedItem)" on-ready="events.setChartSelection('resource_type', resourceChart.data, chartWrapper)"></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Event status</h3>
      </div>
      <div class="panel-body">
        <div google-chart chart="statusChart" on-select="events.onChartSelect('status', statusChart.data, selectedItem)" on-ready="events.setChartSelection('status', statusChart.data, chartWrapper)"></div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-warning" role="alert" ng-if="events.events.length === 0">
  No matching events found
</div>

<table class="table table-hover" ng-if="events.events.length > 0">
  <thead><tr>
    <th>Node</th>
    <th>Type</th>
    <th>Title</th>
    <th>Property</th>
    <th>From</th>
    <th>To</th>
  </tr></thead>
  <tbody ng-repeat="event in events.events">
    <tr ng-class="events.color(event.status)" ng-click="events.toggleRow(event)">
      <td>{{event.certname}}</td>
      <td>{{event.resource_type}}</td>
      <td>{{event.resource_title}}</td>
      <td>{{event.property}}</td>
      <td>{{event.old_value}}</td>
      <td>{{event.new_value}}</td>
    </tr>
    <tr>
      <td class="reveal-animation" ng-if="event.show" colspan="6">
        <table class="table">
          <tr>
            <th>Message</th>
            <td>{{event["message"]}}</td>
          </tr>
          <tr>
            <th>Containing-class</th>
            <td>{{event.containing_class}}</td>
          </tr>
          <tr>
            <th>Containment-path</th>
            <td>
              <ol class="breadcrumb">
                <li ng-repeat="container in event.containment_path">{{container}}</li>
              </ol>
            </td>
          </tr>
          <tr>
            <th>File</th>
            <td>{{event["file"]}}<span ng-if="event.file && event.line">:</span>{{event["line"]}}</td>
          </tr>
          <tr>
            <th>Timestamp</th>
            <td title="{{event.timestamp}}" am-time-ago="event.timestamp"></td>
          </tr>
          <tr ng-click="events.selectReport(event.report)">
            <th>Report</th>
            <td>{{event.report}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<pagination ng-if="numItems > 50" ng-change="changePage(page)" ng-model="page" num-pages="numPages" items-per-page="50"  boundary-links="numItems > 250" max-size="5" total-items="numItems" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
