<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Puppet Explorer</title>

  <!-- Style sheets-->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>
<body>
  <!-- Moment -->
  <script src="lib/moment/moment.js" type="text/javascript"></script>

  <!-- Application -->
  <script src="config.js" type="text/javascript"></script>
  <script src="app.js" type="text/javascript"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', GA_TRACKING_ID, GA_DOMAIN);
      ga('send', 'pageview');
  </script>

  <!-- Search field -->
  <form ng-controller="SearchCtrl as search" ng-submit="search.submit()" id="node-query">
    <div class="input-group">
      <span class="input-group-addon" style="border-radius: 0"><span ng-class="isLoading() ? 'glyphicon glyphicon-refresh spin' : 'glyphicon glyphicon-search'"></span></span>
      <input class="form-control" style="border-radius: 0" type="search" placeholder="Search" ng-model="query" name="query" id="node-query-field">
    </div>

    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="error" ng-click="clearError()">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <samp style="white-space: pre;">{{error}}</samp>
    </div>
  </form>

  <!-- Menu -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="MenuCtrl as menu">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li ng-class="menu.currentView() == 'dashboard' ? 'active' : ''"><a ng-click="menu.view('/dashboard')" id="menu-dashboard">
          <span class="glyphicon glyphicon-dashboard"></span> Dashboard
        </a></li>
        <li ng-class="menu.currentView() == 'nodes' ? 'active' : ''"><a ng-click="menu.view('/nodes')" id="menu-nodes">
          <span class="glyphicon glyphicon-list"></span> Nodes
        </a></li>
        <li ng-class="menu.currentView() == 'events' ? 'active' : ''"><a ng-click="menu.view('/events')" id="menu-events">
          <span class="glyphicon glyphicon-calendar"></span> Events
        </a></li>
        <li ng-class="menu.currentView() == 'facts' ? 'active' : ''"><a ng-click="menu.view('/facts')" id="menu-facts">
          <span class="glyphicon glyphicon-stats"></span> Facts
        </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-if="menu.servers.length > 1" dropdown>
          <a href="#" dropdown-toggle class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-hdd"></span> Server <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="server in menu.servers"><a ng-click="menu.setServer(server)">{{server}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" ng-view></div>
</body>
</html>
