<div class="page-header">
  <h3>{{nodeDetail.node}}</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="alert alert-warning" role="alert" ng-if="nodeDetail.reports.length === 0">
      No reports found
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Reports</div>
      <table class="table table-striped" ng-if="nodeDetail.reports">
        <thead><tr>
          <th>Time</th>
          <th style="text-align:center">Successes</th>
          <th style="text-align:center">Noops</th>
          <th style="text-align:center">Skips</th>
          <th style="text-align:center">Failures</th>
          <th></th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="report in nodeDetail.reports" ng-click="nodeDetail.selectReport(report.hash)">
            <td title="{{report.end_time}}">
              <span am-time-ago="report.end_time"></span>
            </td>
            <td class="text-center">{{report.events.successes || ""}}</td>
            <td class="text-center">{{report.events.noops || ""}}</td>
            <td class="text-center">{{report.events.skips || ""}}</td>
            <td class="text-center">{{report.events.failures || ""}}</td>
            <td class="text-right">
              <span class="glyphicon" ng-class="nodeDetail.status(report)"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination ng-if="numItems > 10" ng-change="changePage(page)" ng-model="page" num-pages="numPages" items-per-page="10"  boundary-links="numItems > 250" max-size="5" total-items="numItems" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
    </div>
  </div>
  <div class="col-md-6" ng-if="nodeDetail.facts">
    <div class="panel panel-default">
      <div class="panel-heading">Facts</div>
      <table class="table table-striped" ng-if="nodeDetail.facts">
        <thead><tr>
          <th>Fact</th>
          <th>Value</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="fact in nodeDetail.importantFacts()">
            <td><span ng-repeat="factCompontent in fact.path track by $index">{{factCompontent}}<span class="text-muted" ng-if="!$last"> / </span></span></td>
            <td>{{fact.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-default" ng-class="nodeDetail.showAllFacts ? 'active' : ''" ng-click="nodeDetail.showAllFacts = !nodeDetail.showAllFacts">Show all</button>
    <div class="panel panel-default" ng-if="nodeDetail.facts && nodeDetail.showAllFacts">
      <div class="panel-heading">All facts</div>
      <table class="ui table segment">
        <thead><tr>
          <th>Fact</th>
          <th>Value</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="fact in nodeDetail.facts">
            <td><span ng-repeat="factCompontent in fact.path track by $index">{{factCompontent}}<span class="text-muted" ng-if="!$last"> / </span></span></td>
            <td>{{fact.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
